body {
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-size: 100%;
    margin: 0;
}

/* Keyframe Animations */
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@keyframes blinkBorder {
    0%, 100% {
        box-shadow: 0 0 20px #c01826;
    }

    50% {
        box-shadow: none;
    }
}

/* Main Layout */
.menubar {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.difficulty-controls,
.direction-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.difficulty-controls select,
.difficulty-controls label,
.difficulty-controls .toggleFlashlight {
    margin-right: 10px;
}

p {
    margin: 0;
    margin-left: 10px;
    color: #40531a;
    font-weight: 800;
}

/* Background */
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #4fc968;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
    left: 2%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 1s;
   
}

.background li:nth-child(1) {
    left: 9%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 2s;
}

.background li:nth-child(2) {
    left: 69%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 7s;
}

.background li:nth-child(3) {
    left: 16%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 1s;
}

.background li:nth-child(4) {
    left: 25%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 12s;
}

.background li:nth-child(5) {
    left: 26%;
    width: 181px;
    height: 181px;
    bottom: -181px;
    animation-delay: 23s;
}

.background li:nth-child(6) {
    left: 3%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 25s;
}

.background li:nth-child(7) {
    left: 38%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 19s;
}

.background li:nth-child(8) {
    left: 1%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 31s;
}

.background li:nth-child(9) {
    left: 55%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 6s;
}

.startbtn {
    background-color: #af4c91;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.startbtn:hover {
    background-color: #64035f;
}

.startbtn.blink {
    animation: blinkBorder 2s linear infinite;
}


#mazeCanvas {
    position: absolute;
    margin-top: 60px;
    margin-left: -370px;
    background-color: #7FA347;
    border: 5px solid #4E6227;
    border-radius: 10px;
}


.msgbox {
    position: absolute;
    height: 200px;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E90FF;
    color: #FFD700;
    border-radius: 15px;
    border: 5px solid #FFD700;
    text-align: center;
    visibility: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.msgbox h1 {
    margin-top: 20px;
}

.msgbox h2 {
    margin-top: 10px;
}

.msgbox button {
    background-color: #FFD700;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.msgbox button:hover {
    background-color: #FFC125;
}

.startbtn {
    background-color: #af4c91;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.5s ease;
}

.startbtn:hover {
    background-color: #64035f;
}


#btnUp,
#btnDown,
#btnRight,
#btnLeft {
    background-color: #db6334;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

#btnUp:hover,
#btnDown:hover,
#btnRight:hover,
#btnLeft:hover {
    background-color: #b92929;
}

@keyframes blinkBorder {

    0%,
    100% {
        box-shadow: 0 0 20px #c01826;
    }

    50% {
        box-shadow: none;
    }
}

.startbtn.blink {
    animation: blinkBorder 2s linear infinite;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    #mazeCanvas {
        width: 80%;
        margin-left: -170px;
    }

    .background li {
        width: 15px;
        height: 15px;
    }

    .difficulty-controls, .direction-controls {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .msgbox {
        width: 60%;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    #mazeCanvas {
        width: 85%;
        margin-left: -150px;
    }

    .msgbox {
        width: 60%;
        height: auto;
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    #mazeCanvas {
        width: 85%;
        margin-left: -120px;
    }

    .msgbox {
        width: 70%;
        height: auto;
        font-size: 12px;
    }

    .startbtn {
        padding: 10px 20px;
    }

    button {
        padding: 8px 15px;
    }
}
